<!doctype html>
<html>

	<head>
			<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<h1> Search books by your city</h1>

		<input type="text" size="30" id="city" />

		<br/>
		<br/>
		<button type="button" id="showbooks" onclick="showbooks()" > Suggest books </button>

		<script>
			function showbooks(){
					var city = document.getElementById("city").value;
					window.location.href = `http://localhost:5000/city/${city}?`;
			}
		</script>

		<h1> Search books by season</h1>

		<input type="text" size="30" id="season" />

		<br/>
		<br/>
		<button type="button" id="season" onclick="showBooksSeason()" > Suggest books </button>

		<script>
			function showBooksSeason(){
					var season = document.getElementById("season").value;
					window.location.href = `http://localhost:5000/season/${season}?`;
			}
		</script>
	</body>
</html>
